body {
	width : 320px;
}

#banner {position : fixed; width : 320px; top : 25%;}

#banner h3 {
	text-align: center;
}

#loading_bar {
	width : 85%; margin : 0 auto 0 auto;
}

.hidden {visibility: none}
